.previewer {
  .sortable-ghost {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 5px;
    height: 60px;
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    border-radius: 6px;

    span {
      color: transparent;
    }
  }

  .draggable-item {
    border-radius: 6px;
    height: 60px;
    align-items: center;
    padding: 10px;
    cursor: move;
    &:hover {
      background: rgb(229, 246, 228);
    }
  }
}
